---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro"
import MainPage from "../../components/MainPage.astro"
import Desc from "../../components/Desc.astro";
import Title from "../../components/Title.astro";
import BannerGame from "../../components/BannerGame.astro";

export async function getStaticPaths() {
    const games = await getCollection('games');

    return games.map((game) => ({
        params: {id: game.slug },
        props: { game }
    }))
}

const { game } = Astro.props
const { slug, data } = game
const { title, description, image, date } = data

const { Content } = await render(game)
---

<Layout title={title} desc={description} image={image}>
    <BannerGame class="h-[calc(100vh-600px)]" src={image}/>
    <MainPage class="gap-5">
        <Title>{title}</Title>
        <Desc>{description} - {date}</Desc>
        <div>
            <Content/>
        </div>
    </MainPage>
</Layout>