---
import Layout from "../layouts/Layout.astro"

const CEO = [
    {
        name: "Kozu",
        role: "CEO, Designer",
        image: "/staff/kozu.webp",
        id: "kozu"
    }
]

const COCEO = [
    {
        name: "Katto",
        role: "CO-CEO, Web Developer",
        image: "/staff/katto.webp",
        id: "katto"
    },
    {
        name: "Hister",
        role: "CO-CEO, Developer",
        image: "/staff/hister.webp",
        id: "hister"
    }
]

const INTERIMCEO = [
    {
        name: "Cam",
        role: "Interim CEO, Designer",
        image: "/staff/cam.webp",
        id: "cam"
    }
]

const WORKERS = [
    {
        name: "Leavy",
        role: "Composer, Management",
        image: "/staff/leavy.webp",
        id: "leavy"
    },
    {
        name: "Anchy",
        role: "Management",
        image: "/staff/anchy.webp",
        id: "anchy"
    },
    {
        name: "Rain",
        role: "Voice Actor",
        image: "/staff/rain.webp",
        id: "rain"
    },
    {
        name: "V",
        role: "Designer",
        image: "/staff/v.webp",
        id: "v"
    },
    {
        name: "Wasa",
        role: "Composer, Storyteller",
        image: "/staff/wasa.webp",
        id: "wasa"
    },
    {
        name: "Wachu",
        role: "Animator",
        image: "/staff/wachu.webp",
        id: "wachu"
    }
]
---

<Layout>
    <main class="flex flex-col items-center">
        <h1 class="text-5xl font-bold mt-7">FILE NINETEEN STUDIOS</h1>

        <p class="mt-5 font-normal text-gray-700 dark:text-gray-400">News about our games and more.</p>

        <h1 class="text-4xl font-bold mt-7">FORMER</h1>

        <hr class="bg-white h-0.5 w-[90%] max-w-[800px] mt-5 mb-5"/>

        <h1 class="text-3xl font-bold mb-5">CEO</h1>

        <div class="flex flex-row gap-7 max-w-[800px]">
            {
                CEO.map(ceo => (
                    <div class="overflow-hidden w-[200px] h-[200px] rounded-2xl">
                        <img data-tooltip-target={ceo.id} src={ceo.image} class="w-[200px] h-auto rounded-2xl transition-all duration-300 ease hover:scale-[1.1]"/>
                    </div>
                    <div id={ceo.id} role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                        <p class="text-[16px]">{ceo.name}</p>
                        <p class="text-[#ccc]">{ceo.role}</p>
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                ))
            }
        </div>

        <h1 class="text-3xl font-bold mt-5 mb-5">CO-CEOs</h1>

        <div class="flex flex-row gap-7 max-w-[800px]">
            {
                COCEO.map(coceo => (
                    <div class="overflow-hidden w-[200px] h-[200px] rounded-2xl">
                        <img data-tooltip-target={coceo.id} src={coceo.image} class="w-[200px] h-auto rounded-2xl transition-all duration-300 ease hover:scale-[1.1]"/>
                    </div>
                    <div id={coceo.id} role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                        <p class="text-[16px]">{coceo.name}</p>
                        <p class="text-[#ccc]">{coceo.role}</p>
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                ))
            }
        </div>

        <h1 class="text-3xl font-bold mt-5 mb-5">Interim CEO</h1>

        <div class="flex flex-row gap-7 max-w-[800px]">
            {
                INTERIMCEO.map(interimceo => (
                    <div class="overflow-hidden w-[200px] h-[200px] rounded-2xl">
                        <img data-tooltip-target={interimceo.id} src={interimceo.image} class="w-[200px] h-auto rounded-2xl transition-all duration-300 ease hover:scale-[1.1]"/>
                    </div>
                    <div id={interimceo.id} role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                        <p class="text-[16px]">{interimceo.name}</p>
                        <p class="text-[#ccc]">{interimceo.role}</p>
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                ))
            }
        </div>    

        <h1 class="text-3xl font-bold mt-5 mb-5">Workers</h1>

        <div class="flex flex-row flex-wrap justify-center items-center gap-7 max-w-[900px]">
            {
                WORKERS.map(worker => (
                    
                        <div class="overflow-hidden w-[200px] h-[200px] rounded-2xl">
                            <img data-tooltip-target={worker.id} src={worker.image} class="w-[200px] h-auto rounded-2xl transition-all duration-300 ease hover:scale-[1.1]"/>
                        </div>
                        <div id={worker.id} role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                            <p class="text-[16px]">{worker.name}</p>
                            <p class="text-[#ccc]">{worker.role}</p>
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    
                ))
            }
        </div>

        <hr class="bg-white h-0.5 w-[90%] max-w-[800px] mt-5 mb-5"/>
    </main>
</Layout>