---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
    const news = await getCollection('news');

    return news.map((news) => ({
        params: {id: news.slug },
        props: { news }
    }))
}

const { news } = Astro.props
const { slug, data } = news
const { title, description, image } = data

const { Content } = await render(news)
---

<Layout title={title} desc={description} image={image}>
    <main class="flex flex-col justify-center items-center text-center">
        <h1 class="text-4xl font-bold">{title}</h1>
        <p class="mt-3 font-normal text-gray-700 dark:text-gray-400 mb-5">{description}</p>
        <div class="w-[350px] h-[350px] overflow-hidden rounded-2xl">
            <img src={`/${image}.jpg`} alt={title} transition:name={slug} class="w-full h-full transition duration-300 ease hover:scale-[1.1]"/>
        </div>
        <div class="mt-5">
            <Content/>
        </div>
    </main>
</Layout>