---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro"
import MainPage from "../../components/MainPage.astro";
import Title from "../../components/Title.astro";
import Desc from "../../components/Desc.astro";

export async function getStaticPaths() {
    const news = await getCollection('news');

    return news.map((news) => ({
        params: {id: news.slug },
        props: { news }
    }))
}

const { news } = Astro.props
const { slug, data } = news
const { title, description, image } = data

const { Content } = await render(news)
---

<Layout title={title} desc={description} image={`/${image}.png`}>
    <MainPage class="gap-5">
        <Title>{title}</Title>
        <Desc>{description}</Desc>
        <div class="w-[350px] h-[350px] overflow-hidden rounded-2xl">
            <img src={`/${image}.png`} alt={title} transition:name={slug} class="w-full h-full"/>
        </div>
        <div class="prose prose-invert max-w-[800px] w-full text-justify">
            <Content/>
        </div>
    </MainPage>
</Layout>