---
import { NETWORKS } from "../data/networks"

import { COMPANY, COMMUNITY, LEGAL } from "../data/footer"
---

<footer class="bg-[#3d1e09]">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">F19 Studios</span>
                </a>
            </div>
            
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">Company</h2>
                    <ul class="text-gray-400 font-medium">
                        {
                            COMPANY.map(company => (
                                <li>
                                    <a href={company.url} class="hover:underline">{company.name}</a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">Community</h2>
                    <ul class="text-gray-400 font-medium">
                        {
                            COMMUNITY.map(community => (
                                <li>
                                    <a href={community.url} class="hover:underline">{community.name}</a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">Legal</h2>
                    <ul class="text-gray-400 font-medium">
                        {
                            LEGAL.map(legal => (
                                <li>
                                    <a href={legal.url} class="hover:underline">{legal.name}</a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm sm:text-center text-gray-400">© 2025 File Nineteen Studios. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                {
                    NETWORKS.map(network => (
                        <a href={network.href} class="text-gray-400 hover:text-white ms-5">
                            <network.icon class="w-5 h-5"/>
                            <span class="sr-only">{network.label}</span>
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</footer>