---
import { getCollection } from "astro:content";
import Desc from "./Desc.astro";
import Title from "./Title.astro";

const games = await getCollection('games');
---

<section class="flex flex-col justify-center items-center gap-5">
    <Title>Nuestros Juegos</Title>
    <Desc>Nuestros juegos desarrollados a lo largo del tiempo.</Desc>

    <div class="flex flex-row flex-wrap max-w-[1200px] justify-center items-center text-left gap-7">
        {
            games.map((game: { slug: any; data: any; }) => {
                const  { slug, data } = game
                const  { title, description, image } = data

                return (
                    <article class="max-w-sm bg-[#111] w-[350px]">
                        <a href={`/games/${slug}`}>
                            <img class="w-[350px] h-[350px]" src={`/${image}.png`} alt={title} transition:name={slug}/>
                        </a>
                        <div class="p-5">
                            <a href={`/games/${slug}`}>
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{title}</h5>
                            </a>
                            <p class="font-normal text-gray-400">{description}</p>
                        </div>
                    </article>
                )
            })
        }
    </div>
</section>