---
import '../styles/global.css';

import { ClientRouter } from 'astro:transitions';

import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer.astro';

export interface Profile {
	title: string;
	desc?: string;
	image?: string;
}

const { title, desc, image } = Astro.props;

const isGame = Astro.url.pathname.startsWith("/games/") && Astro.url.pathname !== "/games/";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="title" content=`${Astro.props.class} - A19 Studio` />
		<meta name="description" content={desc} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={'https://a19.bangame.tech' + Astro.url.pathname} />
		<meta property="og:title" content=`${Astro.props.class} - A19 Studio` />
		<meta property="og:description" content={desc} />
		<meta property="og:image" content={image} />
		<meta property="og:site_name" content="Archivo 19 Studio" />
		<meta property="og:locale" content="es_ES" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={'https://a19.bangame.tech' + Astro.url.pathname} />
		<meta name="twitter:site" content="@F19Studios" />
		<meta name="twitter:creator" content="@SoyKatto1" />
		<meta property="twitter:title" content=`${Astro.props.class} - A19 Studio` />
		<meta property="twitter:description" content={desc} />
		<meta property="twitter:image" content={image} />

		<ClientRouter/>
	</head>
	<body class={isGame ? "" : "grid min-h-dvh grid-rows-[auto_1fr_auto]"}>
		<Header />
		<slot />
		<Footer />
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
		<script>
			import { initFlowbite } from "flowbite";

			document.addEventListener("astro:after-swap", () => {
				initFlowbite();
			});
		</script>
	</body>
</html>

<style>
	body {
		background-color: black;
		color: white;
		font-family: system-ui, sans-serif;
	}
</style>
